:root {
    --main-dark-color: #0c0c0c;
    --secondary-dark-color: #111111;
    --tertiary-dark-color: #272727;
    --main-light-color: #aeaeb1;
    --secondary-light-color:#dadada;
    font-family: "Montserrat", sans-serif;
  }

body{
    overflow-x: hidden;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
}

main{
  height: 100vh;
  width: 80rem;
  max-width: 100rem;
  margin: auto;
}

.dotted-bg{
  background: radial-gradient( var(--tertiary-dark-color), transparent 8%);
  background-position: 0%, 0%;
  background-size: 5vmin 5vmin;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
}


.navbar{
  margin-top: 1rem;
  z-index: 1000;
  background-color: var(--secondary-dark-color);
  border: var(--tertiary-dark-color);
  border-style: solid;
  border-radius: 2vmin;
  border-width: 1px;
  font-weight: 500;
  justify-content: center;
  display: flex;
}

.logo{
  font-size: large;
  display: flex;
  justify-content: space-between;
}

.nav-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 3rem;
}

.nav-items > *:not(:last-child){
  margin-right: 2rem;
}

.nav-item{
  text-decoration: none;
  color: var(--main-text-color); 
}

.nav-item:hover{
  color: var(--secondary-light-color);
}

.nav-cta{
  border-radius: .4rem;
  color: var(--main-dark-color);
  background-color: var(--main-light-color);
  padding: .5rem .75rem;
}

.nav-cta:hover{
  background-color: var(--secondary-light-color);
  color: var(--secondary-dark-color);
}

.hero{
  margin: 5vmin auto;
  width: 100%;
  height: 40rem;
  border-width: 1px;
  /* border-style:solid; */
  border-radius: 3rem;
  background-color: var(--secondary-dark-color);
  background: 
  radial-gradient(ellipse at 30% bottom,rgba(111, 185, 245, 0.247) 1%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%),
    radial-gradient(ellipse at 85% bottom, rgb(126, 42, 46) 1%, rgba(0, 0, 0, 0) 45%, rgba(0,0,0,0) 100%);
}

.card-border{
  border-style: solid;
  border-width: 1px;
  border-color: var(--tertiary-dark-color);
}

.hero-content{
  padding: 2rem;
  margin: 2rem;
  display: grid;
  justify-content: center;
  text-align: center;
}

.sub-title{
  font-size: medium;
  font-weight: 300;
}

.title p{
  font-size: 9rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.title-text{
  justify-items: center;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 2rem;
}

.hero-links{
  display: flex;
  justify-content: center;

}

.hero-link{
  text-decoration: none;
  fill: var(--main-light-color);
  width: 2rem;
  margin: auto 5rem;
}

.hero-link:hover{
  fill: var(--secondary-light-color);
}